<div class="container">
    cliente
    <input type="text">
    <button class="btn btn-danger m-2" (click)="saveCreate()">buscar</button>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>email</th>
                <th>phoneNumber</th>
                <th>documentNumber</th>
                <th>acccion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of clientlist">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <td>{{item.phoneNumber}}</td>
                <td>{{item.documentNumber}}</td>
                <td>
                    <button class="btn btn-danger" (click)="selecClient(item.id)">registrar</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<div>
    <div class="col-12 p-2">
        <div *ngFor="let bikes of bikeslist" class="card m-1 p-1 bg-light todo">
            <div *ngIf="bikes"> {{bikes.model}}</div>
            <div>
                <div *ngIf="bikes">{{bikes.serial}}</div>
                <div class="imagin">
                    <img src="../../../../assets/bici.jpeg" alt="">
                </div>
                <div *ngIf="bikes">{{bikes.price}}</div>
            </div>
            <div>
                <button class="btn btn-primary" (click)="selecBike(bikes.id)">registrar</button>
            </div>
        </div>
    </div>
</div>