<p>bike-list works!</p>

<table border="2">

    <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of bikeslist">
            <td>{{item.id}}</td>
            <td>{{item.model}}</td>
            <td>{{item.serial}}</td>
            <td>{{item.price}}</td>

            <td><a [routerLink]="['../bike-update', item.id]" href="">Update</a> </td>

        </tr>
    </tbody>
    <!---->
</table>